.botao{
    width: 300px;
    height: 55px;
    background-color: white;
    border: 0;
    border-radius: 8px;
    color: var(--cor-principal);
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-branco{
    background-color: #fff;
}

.botao-verde{
    background-color: green;
    color: #fff;
}

.botao-azul{
    background-color: blue;
}