body{
    height: 100vh;
    background: url(../img/fundo-de-pizza.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    font-family: 'Roboto', sans-serif;
}

.overlay{
    background: linear-gradient(180deg, rgba(252,121,0,0.85) 35%, rgba(252,121,0,0) 100%);
    width: 100vw;
    height: 100vh;
    position: absolute;
    inset: 0;
    z-index: -1;
}

header{
    height: 150px;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 100px;
}

.conteudo-container{
    color: white;

}

.conteudo-container h1{
    width: 230px;
}

.conteudo-container p{
    width: 300px;
}

main h3{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.cadastro{
    flex-grow: 1;
    align-items: center;
    justify-content: start;
    display: flex;
    width: 80vw;
}

input{
    color: #fff;
    width: 100vw;
    background: transparent;
    border-color: transparent;
    height: 40px;
}

::placeholder{
    color: #fff;
}

footer{
    gap: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

footer h3{
    font-weight: 100;
    font-size: 14px;
    color: #fff;
}

footer h2{
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.overlays{
    background: linear-gradient(180deg, rgba(252,121,0,0.85) 35%, rgba(252,121,0,0) 100%);
    width: 100vw;
    height: 100vh;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.acesso-container{
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 12px;
}

.acesso-container p{
    color: #fff;
}

main form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form .cadastro{
    display: flex;
    gap: 1rem;
    position: relative;
}

form .cadastro::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    bottom: -10px;
}
